<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <tr>
    <th>Last name <small id="lname_sort"></small></th>
    <th>First name <small id="fname_sort"></small></th>
    <th>Email <small id="email_sort"></small></th>
    <th colspan="3"></th>
  </tr>
  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
